name: MEAN CI CD

on:
  push:
    branches: [ main ]

jobs:

  build_push:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Login Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}

      - name: Build backend
        run: docker build -t bhuvan898/mean-backend:latest ./backend

      - name: Build frontend
        run: docker build -t bhuvan898/mean-frontend:latest ./frontend

      - name: Push backend
        run: docker push bhuvan898/mean-backend:latest

      - name: Push frontend
        run: docker push bhuvan898/mean-frontend:latest


  deploy:
    needs: build_push
    runs-on: ubuntu-latest

    steps:
      - name: Deploy to EC2
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ubuntu
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            sudo docker rm -f mean-frontend || true
            sudo docker rm -f mean-backend || true
            sudo docker rm -f mean-mongo || true

            sudo docker pull mongo:6
            sudo docker pull bhuvan898/mean-backend:latest
            sudo docker pull bhuvan898/mean-frontend:latest

            sudo docker network create mean-net || true

            sudo docker run -d --name mean-mongo --network mean-net mongo:6

            sudo docker run -d \
             --name mean-backend \
             --network mean-net \
             -e MONGO_URL=mongodb://mean-mongo:27017/testdb \
             -p 8080:8080 \
             bhuvan898/mean-backend:latest

            sudo docker run -d \
              --name mean-frontend \
              --network mean-net \
              -p 80:80 \
              bhuvan898/mean-frontend:latest